<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar -->
        <h1><a class="home" href={% url 'home' %}>GamesPlay</a></h1>
        <nav>
            <a href={% url 'dashboard' %}>Dashboard</a>
            <a href={% url 'game_create' %}>Create Game</a>
            <a href={% url 'profile_details' %}>Profile</a>
        </nav>
    </header>

    <!-- edit game section -->
    <section id="create-page" class="auth">
        <!-- edit game form -->
        <form id="create" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <div class="container">
                <!-- Edit Game paragraph -->
                <h1>Edit Game</h1>

                <label for="title">Title:</label>
                {{ form.title }}
{#                <input type="text" id="title" name="title" value="Uno" required>#}
                <label for="category">Category:</label>
                {{ form.category }}
{#                <select name="cars" id="category" required>#}
{#                    <option value="Board/Card Game">Board/Card Game</option>#}
{#                </select>#}
                <label for="rating">Rating:</label>
                {{ form.rating }}
{#                <input type="number" id="rating" name="rating" min="1" maxlength="5" value="4.3" required>#}
                <label for="maxLevel">Max Level:</label>
                {{ form.max_level }}
{#                <input type="number" id="maxLevel" name="maxLevel" min="1" max="65535" value="10">#}
                <label for="imageUrl">Image URL:</label>
                {{ form.game_image_url }}
{#                <input type="text" id="imageUrl" name="imageUrl"#}
{#                       value="https://cdn1.epicgames.com/ca93b6d41a4e41af864942d8f0a2a826/offer/GameName_Store_Landscape_2560x1440-2560x1440-43068caa839fc392e6bb54e0daf2e8a8.jpg">#}
                <label for="summary">Summary:</label>
                {{ form.summary }}
{#                <textarea name="summary" id="summary">Uno is an American shedding-type card game that is played with a specially printed deck. The game's general principles put it into the crazy eights family of card games, and it is similar to the traditional European game mau-mau.</textarea>#}

                <!-- edit game button -->
                <input class="btn submit" type="submit" value="Edit Game">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

</div>
</body>
</html>
